@model He_thong_ho_tro_y_te.Models.DB.User
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}


<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Chi tiết người dùng</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin/Admin/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="~/Admin/User/Index">Quản lý người dùng</a></li>
                    <li class="breadcrumb-item active">Quản lý người dùng</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <div class="grid images_3_of_2">
            <a href="#"><img height="50px" src="~/Asset/Photo/@Model.ModifiedBy" /></a>
        </div>


        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>


        







    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
