@model He_thong_ho_tro_y_te.Models.DB.User
@{
    ViewBag.Title = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}


<h2>Detail</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.ModifiedBy)
        </dt>


        <dd>
            @Html.DisplayFor(model => model.ModifiedBy)
        </dd>
        <div class="grid images_3_of_2">
            <a href="#"><img height="50px" src="~/Asset/Photo/@Model.ModifiedBy" /></a>
        </div>


        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>


        







    </dl>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
