
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLTELayout.cshtml";
}


@model PagedList.IPagedList<He_thong_ho_tro_y_te.Models.DB.User>
@using PagedList.Mvc


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Quản lý người dùng</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/Admin/Admin/Index">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="~/Admin/User/Index">Quản lý người dùng</a></li>
                    <li class="breadcrumb-item active">Quản lý người dùng</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<div class="box-body">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">

                </div>
            </div>
            <!-- /search form -->
            <!-- /.box-header -->
            <div class="box-body">
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "User", FormMethod.Get))
                    {
                        <div class="row form-group">
                            <div class="col-lg-12">
                                <label class="col-lg-1 row">Từ khóa</label>
                                <div class="col-md-4">
                                    <input type="text" value="@ViewBag.SearchString" class="form-control" name="searchString" />
                                </div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-success">Tìm kiếm <i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    }
                    <a href="~/Admin/User/Add" class="btn btn-primary" style="margin-bottom:10px">Thêm mới  </a>
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th class="text-center">STT</th>
                                <th class="text-center">Tên</th>
                                <th class="text-center">Tên đăng nhập</th>
                                <th class="text-center">Mật khẩu</th>
                                <th class="text-center">Loại người dùng</th>
                                <th class="text-center">Ảnh</th>
                                <th class="text-center">Chức năng</th>
                                <th style="text-align:center">Duyệt</th>

                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.Count; i++)
                            {
                                var item = Model.ElementAt(i);
                            <tr>
                                <td class="text-center">@(i + 1)</td>
                                <td>
                                    @item.Name
                                </td>
                                <td>@item.UserName</td>
                                <td>@item.Password</td>
                                <td class="text-center">@item.GroupID</td>
                                <td class="text-center"><img height="50px" src="~/Asset/Photo/@item.ModifiedBy" /></td>
                                <td class="text-center">
                                    <a href="~/Admin/User/Edit/@item.ID">
                                        <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                    <a href="~/Admin/User/Detail/@item.ID">
                                        <span class="glyphicon glyphicon-list"></span>
                                    </a>

                                    <a href="~/Admin/User/Delete/@item.ID" onclick="return confirm('Bạn chắc chắn muốn xóa?')">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </a>
                                </td>
                                @if (item.Status == true)
                                {
                                    <td style="text-align:center">Đã kích hoạt</td>
                                }
                                else
                                {
                                    <td style="text-align:center"><a href="~/Admin/User/Duyet?id=@item.ID">Kích hoạt</a></td>
                                }

                            </tr>
                            }

                        </tbody>

                    </table>

                    <div class="col-sm-7">
                        @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { @searchString = ViewBag.SearchString, PageNum }))

                    </div>

                </div>
            </div>
            <!-- /.box-body -->

        </div>
        <!-- /.box -->
        <!-- /.box -->
    </div>
    <!-- /.col -->

</div>
<!-- /.row -->
