
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/HomeTemplate.cshtml";
}
@model PagedList.IPagedList<He_thong_ho_tro_y_te.Models.DTO.ProductDTO>
@using PagedList.Mvc
@using System.Globalization

<body>
    <div class="" style="margin-bottom:200px  !important;margin-left:100px;margin-right:100px;">
        @ViewBag.count
        <form class="Vegetable">

            <input class="Vegetable_fom" placeholder="Search" type="text" name="searchString">
            <button class="Search_btn" type="submit">Tìm kiếm</button>
            <div class="col-lg-12 row" style="padding-top:10px">
                <div class="input-group col-md-4" ><input pattern="[0-9]*" placeholder="Giá từ" name="searchString2"><span>-</span><input pattern="[0-9]*" placeholder="Giá đến" name="searchString3"></div>
                <div class="col-md-2">
                    <select class="form-control" value="@ViewBag.SearchCat" style="margin-left:100px" name="searchCat">
                        <option disabled selected value> Loại dược phẩm </option>
                        @foreach (var item in ViewBag.cat)
                        {
                            <option>@item.CategoryName</option>
                        }

                    </select>
                </div>
                </div>
        </form>
        <div class="content">

            @foreach (var item in Model)
            {

                <div class="cart-grid" id="cart-1" style="margin-bottom:10px">
                    <div class="img">
                        <a href="~/Shop/Detail/@item.Id">

                            <img src="~/Asset/Photo/@item.Image" alt="img">
                        </a>
                    </div>
                    <ul class="info">
                        <li>@item.Name</li>
                        <li class="right-text">@(Convert.ToDouble(item.Price).ToString("C0", CultureInfo.CreateSpecificCulture("vi-VN")))</li>
                    </ul>
                    <div class="snipcart-details">
                        <a href="/Shop/Add/@item.Id" class="w3l-cart">Add to cart</a>
                    </div>
                    @*<div class="snipcart-details ">
                        <form action="#" method="post">
                            <input type="hidden" name="cmd" value="_cart">
                            <input type="hidden" name="add" value="1">
                            <input type="hidden" name="w3l_item" value="Striped Top ">
                            <input type="hidden" name="amount" value="25.00">
                            <input type="hidden" name="item_name" value="Product #001" />
                            <button type="submit" class="button w3l-cart" data-id="cart-1">Thêm vào giỏ hàng</button>

                        </form>
                    </div>*@

                </div>
            }
        </div>
        <div class="w3view-cart">
            <div class="pagination">

                @Html.PagedListPager(Model, PageNum => Url.Action("Index", new { PageNum, @searchString = @ViewBag.SearchString, @searchString2 = @ViewBag.SearchString2, @searchString3 = @ViewBag.SearchString3, @searchString4 = @ViewBag.SearchString4, @searchString5 = @ViewBag.SearchString5, @searchCat = @ViewBag.SearchCat }))
            </div>
        </div>

    </div>

</body>
<style>
    .content {
        display: flex;
        flex-wrap: wrap;
        align-self: stretch;
        background-color: rgb(255, 255, 255);
        border-top: 1px solid rgb(242, 242, 242);
    }
    .w3l-cart {
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #900000;
        border: none;
        font-weight: 600;
        padding: 14px 43px;
        background: #ffa200;
        cursor: pointer;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
    }
    .info li {
        color: #000;
        font-size: 1.1em;
        font-weight: 600;
        display: inline-block;
    }

        .info li.right-text {
            color: #777;
            
            margin-left: 8em;
        }
    ul.info {
        margin: 1.5em 0;
    }

    .info ul li {
        list-style: none;
        display: inline-block;
    }

        .info ul li a {
            display: block;
            color: #000;
            text-decoration: none;
            float: left;
            padding: 5px 20px;
        }

            .info ul li a:hover {
                text-decoration: none;
                color: #ff0000;
            }

            .info ul li a:hover,
            .info ul li a:focus {
                text-decoration: none;
                box-shadow: none;
            }
    .snipcart-details {
        font-size: 11px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #fff;
        border: none;
        padding: 10px 17px;
        
    }

        
    

        
    .w3l-cart {
        transition: 0.5s all;
        -webkit-transition: 0.5s all;
        -moz-transition: 0.5s all;
        -o-transition: 0.5s all;
        
        text-decoration: none;
        outline: none;
    }
    .w3l-cart {
        font-size: 13px;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: #900000;
        border: none;
        font-weight: 600;
        padding: 14px 43px;
        background: #ffa200;
        cursor: pointer;
        width: 100%;
        font-family: 'Open Sans', sans-serif;
    }
    .w3view-cart {
        cursor: pointer;
        width: 20%;
        margin: 1em auto 0;
        display: block;
        padding: 3px 0 9px 0px;
        font-weight: 900;
        border: none;
        text-transform: uppercase;
        font-size: 13px;
        background: #fff;
        font-family: 'Open Sans', sans-serif;
        color: #900;
    }
        

    .w3l-cart:hover {
        background: #0f3370;
        color: #fff;
    }
    .cart-grid {
        width: 20%;
        float: left;
        box-shadow: 5px 10px 10px 0px rgba(216, 216, 216, 0.78);
        padding: 20px;
    }

    img {
        max-width: 100%;
    }

    .cart-grid:hover img {
        -webkit-transform: translateY(0px) scale(0.8);
        -moz-transform: translateY(0px) scale(0.8);
        -ms-transform: translateY(0px) scale(0.8);
        -o-transform: translateY(0px) scale(0.8);
        transform: translateY(0px) scale(0.8);
    }

    .img img {
        -webkit-transition: all 0.35s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        transition: all 0.35s ease-in-out;
    }

    .pagination {
        padding: 35px 0;
        text-align: right;
        display: inline;
    }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
        }

            .pagination a.active {
                background-color: #4CAF50;
                color: white;
                border-radius: 5px;
            }

            .pagination a:hover:not(.active) {
                background-color: #ddd;
                border-radius: 5px;
            }
</style>

